
   <!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>Bootswatch: Cerulean</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./Bootswatch_ Cerulean_files/bootstrap.css" media="screen">
    <link rel="stylesheet" href="./Bootswatch_ Cerulean_files/custom.min.css">
    <script type="text/javascript" async="" src="./Bootswatch_ Cerulean_files/ga.js"></script>
    
    
    <script>

     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
  </head>
  <body>
   <div>
    
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
                <a class="navbar-brand" href="https://bootswatch.com/cerulean/#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="https://bootswatch.com/cerulean/#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="https://bootswatch.com/cerulean/#">Features</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="https://bootswatch.com/cerulean/#">Pricing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="https://bootswatch.com/cerulean/#">About</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="https://bootswatch.com/cerulean/#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="https://bootswatch.com/cerulean/#">Action</a>
                        <a class="dropdown-item" href="https://bootswatch.com/cerulean/#">Another action</a>
                        <a class="dropdown-item" href="https://bootswatch.com/cerulean/#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://bootswatch.com/cerulean/#">Separated link</a>
                      </div>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
                </div>
     <script src="./Bootswatch_ Cerulean_files/jquery.min.js"></script>
    <script src="./Bootswatch_ Cerulean_files/popper.min.js"></script>
    <script src="./Bootswatch_ Cerulean_files/bootstrap.min.js"></script>
    <script src="./Bootswatch_ Cerulean_files/custom.js"></script>
</body>
</html>
