

      
       <div>
         
         <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
                     <a  class="navbar-brand">Cambio Climatico</a>
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                       <span class="navbar-toggler-icon"></span>
                     </button>
     
                     <div class="collapse navbar-collapse" id="navbarColor01">
                       <ul class="navbar-nav mr-auto">
                         <li class="nav-item active">
                           <a href="" class="nav-link" >Inicio <span class="sr-only">(current)</span></a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link">Hechos </a>
                         </li>
                         <li class="nav-item">
                           <a href="/articulos/" class="nav-link">Articulos</a>
                         </li>
                         
                         <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios</a>
                           <div class="dropdown-menu">
                             <a  href="http://localhost:8000/inicio/" class="dropdown-item" >Iniciar sesion</a>
                             <a class="dropdown-item">Registrar</a>
                           </div>
                         </li>
                         <li class="nav-item">
                          <a class="nav-link" >Acerca de</a>
                        </li>
                       </ul>
                       <form class="form-inline my-2 my-lg-0">
                         <input class="form-control mr-sm-2" type="text" placeholder="Search">
                         <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                       </form>
                     </div>
                   </nav>
                     </div>
       
  