<link rel="stylesheet" media="screen" href="/static/na/masterslider-d3a34c2c6449c748224d335bcdf7f4972a3ba8cccd04bd69fb6f60d9ad651cbe.css">
<link rel="stylesheet" media="screen" href="/static/na/style-151f21ae0588dd208aa4e128fbca4ee975ac7f869d86084b4dc413175d851dc6.css">

<link rel="stylesheet" media="all" href="/static/na/public_manifest-b6ee530baafb708f3069086de07b6af5cc4f36a84a6efee13110c37e9362e466.css">
<link rel="stylesheet" media="screen" href="/static/na/jquery.fancybox3-d5d81bdfc05a59e4ea72bca1d8b7fcc399bd3b61f7c06af95a8a48795df69d7a.css">
<link rel="stylesheet" media="screen" href="/static/na/jquery.fancybox-thumbs-63891ea3fd7b7f15621befe5cbdf329cd554b2129f7d69a7ea8d7cedb4c98323.css">
<link rel="stylesheet" media="print" href="/static/na/print-f54dc65f5d92353561cad5b8afd7b1e7ede0f7c606679623174ac9b2f5398f22.css">
<script src="/static/na/public_manifest-b3774e0524a88220d210a67fe112cdf699593790e5360464e87cc32ce91e5a2b.js"></script><style></style>
<script src="/static/na/jquery.fancybox3-f9c505d41c3766de55b64d8adb02a1561e2fb4d840701f4f9896dd54e087fc67.js"></script>
<script src="/static/na/jquery.fancybox-thumbs3-8b93bd5900393c575e9459f2708458650063093c13045971ec87f8abef9e8eea.js"></script>
<script src="/static/na/mb_manifest-62546c466cce486b8fc5a4d92ae45e360c44f7dd579c1725110d1938e56357dd.js"></script>




<section class="definition_teaser module theme_2">
<div class="background_image">
<img alt="" src="/static/na/clouds.jpg">
</div>
<div class="grid_layout">
<header>
<h2 class="module_title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">¿Qué es el cambio climático?</font></font></h2>
</header>
<div class="definitions_container">
<span class="definition_pairs">
<a href="https://climate.nasa.gov/evidence">
<div class="definition">
<h4 class="title">Evidencia</h4>
<div class="hover_title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
¿Cómo sabemos que el cambio climático es real?
</font></font></div>
</div>
</a>
<a href="https://climate.nasa.gov/causes">
<div class="definition">
<h4 class="title">Causas</h4>
<div class="hover_title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
¿Por qué está ocurriendo el cambio climático?
</font></font></div>
</div>
</a>
</span>
<span class="definition_pairs">
<a href="https://climate.nasa.gov/effects">
<div class="definition">
<h4 class="title">Efectos</h4>
<div class="hover_title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
¿Cuáles son los efectos del cambio climático?
</font></font></div>
</div>
</a>
<a href="https://climate.nasa.gov/solutions/resources">
<div class="definition">
<h4 class="title">Soluciones</h4>
<div class="hover_title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
¿Qué se está haciendo para solucionar el cambio climático?
</font></font></div>
</div>
</a>
</span>
</div>

</div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section class="alternate_background homepage_site_teaser module site_teaser">
    <div class="grid_layout">
    <div class="text_col">
    <h2 class="article_title">
    <a href="/resources/graphics-and-multimedia/" target="_self"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
    Centro de recursos climáticos
    </font></font></a>
    </h2>
    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
    El sitio web de Cambio Climático Global de la NASA alberga una amplia colección de recursos sobre el calentamiento global para medios, educadores, meteorólogos y oradores públicos. </font><font style="vertical-align: inherit;">Explore por tema y por tipo de medio, incluidos videos, elementos para compartir en redes sociales, infografías, cuestionarios e interactivos.  
    </font></font></p>
    <a class="button" href="/resources/graphics-and-multimedia/" target="_self"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
    buscar recursos
    </font></font></a>
    </div>
    <div class="img_col">
    <a href="/resources/graphics-and-multimedia/" target="_self">
    <img alt="recursos climáticos" src="/system/basic_html_elements/647_Screen_Shot_2014-07-16_at_3.03.11_PM.png">
    </a>
    </div>
    </div>
    </section>

    <br>
    <br>
    <br>
    <br>